
header>h2{
    background-color: black;
    width:  100vw;
    font-size: 30px;
    color: aliceblue;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.lol-gallery{
display: flex;
width: 100vw;
justify-content: space-evenly;
flex-wrap: wrap;

}

.lol{
    
    margin: 20px 50px;
    border: solid 3px black;

}
.lol>img{
    max-width: 200px;
    display: flex;
    justify-content: center;

}

.lol>h2{
    display: flex;
    justify-content: center;
}